.img {
    width: 350px;
    height: 150px;
}

.header {
    background: rgb(128, 128, 128);
    width: 100%;
    height: 100%;
}

.ingredientes {
    background: rgb(255, 106, 0);
    width: 100%;
    height: 100%;
}
.tic {
    background: rgb(255, 0, 0);
    width: 100%;
    height: 100%;
}

.dbp {
    background: rgb(255, 216, 0);
    width: 100%;
    height: 100%;
}